<!DOCTYPE html>
<html lang = "ko"
      layout:decorate = "~{layout/standard.html}"
      xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <link href = "https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel = "stylesheet">
    <script src = "https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
</head>
<body>

<!-- Page Header-->
<header class = "masthead" layout:fragment = "header"
        style = "background-image: url('/assets/img/contact-bg.jpg')">
    <div class = "container position-relative px-4 px-lg-5">
        <div class = "row gx-4 gx-lg-5 justify-content-center">
            <div class = "col-md-10 col-lg-8 col-xl-7">
                <div class = "page-heading">
                    <h1>Posting</h1>
                    <span class = "subheading">title & content</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<main class = "mb-4" layout:fragment = "content">
    <div class = "container px-4 px-lg-5">
        <div class = "row gx-4 gx-lg-5 justify-content-center">
            <div class = "col-md-10 col-lg-8 col-xl-7">
                <p>Want to get in touch? Fill out the form below to send me a message and I will get
                   back to you as soon as possible!</p>
                <div class = "my-5">
                    <form id = "postForm">
                        <div class = "form-floating">
                            <input class = "form-control" id = "name" name = "name"
                                   placeholder = "ID" type = "text"/>
                            <label for = "name">Title</label>
                        </div>
                        <br/>
                        <div class = "form-floating">
                            <input class = "form-control" id = "writer" name = "writer"
                                   placeholder = "writer" type = "text"/>
                            <label for = "writer">Writer</label>
                        </div>
                        <br/>
                        <div class = "form-group">
                            <label for = "content">Content</label>
                            <textarea class = "form-control summernote" id = "content"
                                      rows = "5"></textarea>
                        </div>
                        <br/>
                    </form>
                    <button class = "btn btn-primary " id = "btn-save">posting</button>
                </div>
            </div>
        </div>
    </div>

    <script src = "/js/summernote.js"></script>
    <script src = "/js/post.js"></script>

</main>
</body>
</html>
